# =========================
# Python
# =========================

.venv/
venv/

__pycache__/
*.py[cod]

.pytest_cache/
.coverage
htmlcov/

# =========================
# Environment Variables
# =========================

.env
.env.*

!.env.example

# =========================
# Node
# =========================

node_modules/
dist/
dist-ssr/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log